@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
}

h1 {
  margin: 10px;
}

.box {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgb(158, 156, 156);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
  text-align: center;
}

.box-zero {
  background-color: #ff033e;
}

.box-one {
  background-color: #e32636;
}

.box-two {
  background-color: #ff2400;
}
.box-three {
  background-color: #ab274f;
}
.box-four {
  background-color: #f19cbb;
}
.box-five {
  background-color: #e52b50;
}
.box-six {
  background-color: #9f2b68;
}
.box-seven {
  background-color: #990066;
}
.box-eight {
  background-color: #ed3cca;
}
.box-nine {
  background-color: #cd2682;
}
